# Dependencies
/node_modules
/.pnpm-store

# Next.js build & export output
/.next/
/out/
/build/

# TypeScript build info cache
tsconfig.tsbuildinfo

# Debug & npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# Local environment variables & secrets
.env*.local
.env

# Operating System & IDE files
.DS_Store
Thumbs.db
*.pem
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
